{% extends "layout.html" %}
{% block body %}

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Server</a></li>
          <li><a href="#">Tasks</a></li>
          <li><a href="#">Log</a></li>
        </ul>
        <h3 class="muted">mr-carson</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Let's get your server configured!</h1>
        <p class="lead">these are the settings needed to connect to your ftp server</p>
      </div>

      <hr>

    <form action="{{ url_for('edit_server') }}" method=post class=add-entry>
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Host</h4>
          <p><em>e.g. <b>5.5.5.5</b> or <b>ftp.host.com</b></em>
          </p>
          <input type="text" name="host" value="{{ server.host }}" />   

          <h4>Username</h4>
          <p></p>
          <input type="text" name="username" value="{{ server.username }}" />   
        </div>

        <div class="span6">
          <h4>Port</h4>
          <p><em>most commonly <b>21</b></em>
          </p>
          <input type="text" name="port" value="{{ server.port }}" />   

          <h4>Password</h4>
          <p></p>
          <input type="password" name="password" value="{{ server.password }}" />   
        </div>
      </div>
       <div class="jumbotron">
            <input type="submit" value="Save settings & test connection" class="btn btn-large btn-success">
      </div>
    </form>

     {% endblock %}
