{% extends "layout.html" %}
{% block body %}

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ url_for('server') }}">Server</a></li>
          <li class="active"><a href="{{ url_for('tasks') }}">Tasks</a></li>
          <li><a href="{{ url_for('log') }}">Log</a></li>
        </ul>
        <h3 class="muted">mr-carson</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Now where should we move things?</h1>
        <p class="lead">these are automated uploads & downloads that mr-carson will handle</p>
      </div>

      <hr>

    <form action="{{ url_for('add_task') }}" method=post>
        <div class="span5 offset2">
              <h4>Name</h4>
              <p><em>e.g. <b>SickBeard to seedbox</b></em></p>
              <input type="text" name="name" value="{{ edit.name }}" />   

              <h4>Local path</h4>
              <p><em>full path to local directory; e.g. <b>C:\files\watch\tv\</b> or <b>/home/anon/files/watch/tv/</b></em></p>
              <input type="text" name="local" value="{{ edit.local}}" />   

              <h4>Remote path</h4>
              <p><em>full path to ftp directory; e.g. <b>/rtorrent/files/watch/tv/</b></em>
              </p>
              <input type="text" name="remote" value="{{ edit.remote }}" />   

              <h4>Direction</h4>
              <p></p>
              <select name="up">
                <option value="1" {% if edit.up == "1" %} selected="selected" {% endif %}>Upload from pc to seedbox</option>
                <option value="0" {% if edit.up == "0" %} selected="selected" {% endif %}>Download from seedbox to pc</option>
              </select>
           <div class="jumbotron">
                <input type="submit" value="Save settings & test connection" class="btn btn-large btn-success">
           </div> 
    
       </div>
    </form> 

    <div class="span9"><hr></div>

    <div class="row-fluid marketing">
        <div class="span6">
            <h3>Uploads</h3>
            {% for upload in uploads %}
            <hr>
            <h4>{{ upload.name }}</h4>
            <p><em>local: <b>{{ upload.local }}</b></em></p>
            <p><em>remote: <b>{{ upload.remote }}</b></em></p>
            {% else %}
            <h4>None</h4>
            {% endfor %}
        </div>

        <div class="span6">
            <h3>Downloads</h3>
            {% for download in downloads %}
            <hr>
            <h4>{{ download.name }}</h4>
            <p><em>local: <b>{{ download.local }}</b></em></p>
            <p><em>remote: <b>{{ download.remote }}</b></em></p>
            {% else %}
            <h4>None</h4>
            {% endfor %}
        </div>

    </div>

     {% endblock %}
